@{
    ViewData["Title"] = "Forside";
}

<h1>List of movies</h1>

<h3>Movies</h3>
<h4>Sorted by @ViewData["Sorting"]</h4>

<a class="btn btn-default" href="http://localhost:5001/Home/Index/1">Sort by length</a>
<a class="btn btn-default" href="http://localhost:5001/Home/Index/0">Sort by title</a>

@model List<Movie>
@foreach (var element in Model)
{
    <hr/>
    <p>Name: </p><a href=@Html.DisplayFor(m => element.IMDB)>@Html.DisplayFor(m => element.Name)</a>
    <p>Year: @Html.DisplayFor(m => element.Year.Year)</p>
    <p>Time: @Html.DisplayFor(m => element.Length)</p>
    @if(@Html.DisplayFor(m => element.Billede) != null){
        <img src=@Html.DisplayFor(m => element.Billede) alt=@Html.DisplayFor(m => element.Billede) class="img-responsive" />
    }
}